.ctn-bottom {
  display: flex;
  padding: 0 40px;
  justify-content: space-between;

  .section-one {
    display: flex;
    gap: 30px;
    align-items: center;

    .part-1 {
      display: flex;
      gap: 10px;
      flex-direction: row;
      align-items: center;
    }

    .divider {
      height: 30px;
      width: 1px;
      background: #cdcdcd;
    }
  }

  .section-two {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #3fb676;
    font-weight: 500;
  }
}