.tool-page-template {
  width: 100%;
}
.tool-container{
  max-width: 1280px;
  padding: 24px;
  margin: 0 auto; 
}
.container{
  max-width: 1280px;
  margin: 0 auto; 
}
.seo-content{
  max-width: 1280px;
  margin: 32px auto;
  padding:12px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}