@if (toolData) {
  <app-breadcrumbs></app-breadcrumbs>
<div class="tool-page-template">
  @if (toolData.id !== 'pdf-merger') {
  <app-tool-header [tool]="toolData" [category]="categoryData" [headerOnly]="showHeader()"></app-tool-header>
  }
  @if (toolComponent) {
  <div class="tool-component-container">

    <ng-container *ngComponentOutlet="toolComponent"></ng-container>
  </div>
  }

  <!-- SEO Content -->
  <div class="seo-content">
    <app-instructional-layer [data]="toolData.instructionsSection"></app-instructional-layer>
    <!-- <app-amazon-ad size="720x90"></app-amazon-ad> -->
     <app-secure-banner></app-secure-banner>
    @if (toolData.aboutSection) {
    <app-about-section [aboutSection]="toolData.aboutSection"></app-about-section>
    }


    <!-- Features Section -->
    @if (toolData.featuresSection) {
    <app-features-section [featuresSection]="toolData.featuresSection"></app-features-section>
    }
    @if (toolData.comparisonSection) {
    <!-- Comparison Table -->
    <app-comparison-layer [data]="toolData.comparisonSection"></app-comparison-layer>
    }
    @if (toolData.technicalNoteSection) {

    <!-- Technical Expert Note -->
    <app-technical-note-layer [data]="toolData.technicalNoteSection"></app-technical-note-layer>
    }
    <app-amazon-ad size="720x90"></app-amazon-ad>
    <!-- Use Cases Section -->
    @if (toolData.useCasesSection) {
    <app-use-case-section [useCasesSection]="toolData.useCasesSection"></app-use-case-section>
    }

    <!-- How GANN Theory Works Section -->
    @if (toolData.theorySection) {
    <app-theory-section [theorySection]="toolData.theorySection"></app-theory-section>
    }
    <!-- FAQ Section -->
    @if (toolData.faqSection) {
    <app-faq-section [faqSection]="toolData.faqSection"></app-faq-section>
    }

    <app-related-tools [currentTool]="toolData"></app-related-tools>
    <!-- <app-same-category-tools [currentTool]="toolData" [category]="categoryData"></app-same-category-tools> -->
  </div>
</div>
}